h1 Our Story

p We met through Paul and Louisa in 2008. It started innocently enough with a dinner party at Jeff's house in North Seattle. A few weeks later, Jeff asked Diana out for sushi and the rest is history.

p For our first dating anniversary, we travelled to Taiwan for nearly a month where we took many of the photos featured on this site. We've also travelled together to Puerto Vallarta, San Fransisco, Las Vegas, and Honolulu together.

p Jeff asked Diana to marry him on her birthday in 2013 at the Yardhouse in front of all of her friends.

= image_tag "http://media.chingr.com/photos/taiwan/backgrounds/1.png"