h1 Our Story

p Diana and Jeff met through Paul and Louisa in 2008. It started innocently enough with a dinner party at Jeff's house in North Seattle. A few weeks later, Jeff asked Diana out for sushi and the rest is history.

p The couple got engaged on Diana's birthday in 2013 at the Yardhouse in front of all of her friends.