h1 Wedding Party

h2 Bride's Side

h3 Maid of Honor
p Gloria Lui

h3 Bridesmaids
p Louisa Chu
p Heather Ching
p Helen Chea

h2 Groom's Side

h3 Best Man
p Owen Yee

h3 Groomsmen
p Paul Youm
p Greg Champoux
p Steve Shellenbarger
