h1 Registry

p We have pretty much everything we need and would prefer contributions towards our honeymoon. A bin for red envelopes will be available at the wedding or you can use a credit card here.

/=> link_to "Macy's", "http://www1.macys.com/registry/wedding/guest/?registryId=2074426", class: "btn btn-default", target: "_blank"
= link_to "Honeymoon Fund", honeymoon_payments_path, class: "btn btn-default"